body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset{
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 1em 0em;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
}

/* E possivel fazer das duas formas para formatar o radio dessa forma e mais nova 
input [type="text"]{
    width: 20em;

}*/


/* E possivel fazer das duas formas para formatar o radio dessa forma e mais antiga e suportada por outros navegadores */
input.radio, input.checkbox , input.submit{
    width: auto;
}

.radio{
    margin-right: 1em;
}

textarea{
    width: 20em;
    height: 10em;
}
