/***************** Herança e especificidade*/

body{
    color: red;
    border: 1px solid green;
}
#pagina p{
    color: red !important
}
/*se um seletor for mais específico que o outro a regra mais espefífica será aplicada (terá precedência sobre regras mais gerais)
exemplos:
*{
    color red;
}
h2{
    color:blue;
}
a regra que será aplica sera do H2 pois e mais especifica*/

