body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Layout Liquido usa porcentagem para tamanho da pagina */
#container{
    background: #fff url(arquivos-necessarios-coluna-falsa/arquivos-necessarios-coluna-falsa/coluna.png) repeat-y left top;
    width: 960px;
    margin: 0 auto;
    min-width: 820px;
    /* max-width: 960px; */
    /* max-height: ; */
  /*   min-height: ; */
}


#marca{
    height: 100px;
    height: 200px;
    background: #225992 url(arquivos-necessarios-imagens-liquidas/arquivos-necessarios-imagens-liquidas/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 300px;
}

#conteudo{
    width: 74%;
    float: right;
}

#conteudo-principal{
    width: 64%;
    float: left;
}
img.img-noticia{
    padding: 2%;
    width: 90%;
    max-width: 600px;

}
#conteudo-principal-Secundario{
    width: 34%;
    float: right;
    background: #d1d1d1;
}

#conteudo-principal-Secundario h1,
#conteudo-principal-Secundario h2,
#conteudo-principal-Secundario h3,
#conteudo-principal-Secundario p{
    padding-left: 20px;
    padding-right: 20px;
}



#navegacao{
    width: 24%;
    float: left;
    padding: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;

}

#navegacao ul{
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
}


#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

