body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
    width: 720px;
    margin: 0 auto;
    background: #fff;
}

#marca{
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100PX;
}

#conteudo{
    width: 520px;
    float: right;
}

#conteudo-principal{
    border: solid 1px red;
    width: 320px;
    float: left;
}

#conteudo-principal-Secundario{
    border: solid 1px red;
    width: 180px;
    float: right;
    background: #d1d1d1;
}

#conteudo-principal-Secundario h1,
#conteudo-principal-Secundario h2,
#conteudo-principal-Secundario h3,
#conteudo-principal-Secundario p{
    padding-left: 20px;
    padding-right: 20px;
}



#navegacao{
    width: 180px;
    float: left;
    padding: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;

}

#navegacao ul{
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
}


#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

